{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}
{% block content %}

<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(../static/images/logo.jpg);">
        <div class="desc animate-box">
                    <!-- <span>Lovely Crafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">FREEHTML5.co</a></span> -->
            <form class="form-inline" method="POST">
              {% csrf_token %}
                <div class="form-group">
                  {{form.as_p}}
                </div>
                <br>
                <button style="margin-left: 80px;" type="submit" class="btn btn-default">Send</button>
              </form>
      
            
        </div>
    </div>

</div>

{% endblock %}